.App {
  text-align: center;
}
.padd {
  padding: 10px;
}
.center {
  margin: auto;
  width: 60%;
}
.centerTittle {
  text-align:center;
  color:white;
  font-family: 'Poppins', sans-serif;
}
.form{
  margin-bottom: 30px;
}
.listapedidos {
  color: white;
  border-radius: 50px;
  margin-top: 50px;
  background: linear-gradient(45deg, #014c88, #00254254);
}
.pedido{
  margin-left: 30px;
}
.maindiv {
  border-radius: 20px 20px;
  padding:15px;
  margin-top: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button {
    border-radius: 5px;
    border: currentColor;
    color: white;
    background: #00A3E0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height:32px;
}
.input {
    border-radius: 5px;
    border: currentColor;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height:30px;
}

.notbold{
    font-weight:normal
}
.bg {
  background:#014C88;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
